
div:hover{
    background-image: linear-gradient(to right,white,rgb(249, 222, 227));
    display:inline-block;
    border-radius: 10px;
}

#div1>img{
      width: 400px;
      height: 200px;
      border-radius: 10px;
      margin: 20px 20px;
      margin-bottom: 0px;
}


hr{
    width: 400px;
}

h1,hr,p{
    margin-left: 20px;
}

p{
    display: inline-block;
    
}

button{
    display: inline-block;
    margin-left: 20px;
}

.pra2{
    margin-left: 20px;
}

